# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/static/media/weatherextension.bfbf268ecf66c5cf29b8.png
build/static/media/wallpaperengine.3e8c79837f74dc08e450.png
build/static/media/uwocrest.183009418c153ecff7ed.gif
build/static/media/quizmaker.ec4adbe64a1663ab1d97.png
build/static/media/ibmzxploreconcepts.f23b7a68f9d84d9c1f03.png
build/static/media/ibmzxploreadvanced.8b1de229cdbdb5c17b53.png
build/static/media/fa-v4compatibility.f601162ae669f88823a3.ttf
build/static/media/fa-v4compatibility.745989aab0d69cab7e70.woff2
build/static/media/fa-solid-900.b48ad290d0335879a92b.ttf
build/static/media/fa-solid-900.66104b766c3d0462b3c5.woff2
build/static/media/fa-regular-400.abf801b7acb6705a15ad.ttf
build/static/media/fa-regular-400.639d2000c1ece92eaec8.woff2
build/static/media/fa-brands-400.f9ee61fab3c11e2f3ed3.ttf
build/static/media/fa-brands-400.e1a247a5ef41e1975742.woff2
build/static/media/coviz.0e911aa6bf53c2f756aa.png
build/static/media/avatar.32040d1bc72bd8694016.jpeg
build/static/js/main.b162ac70.js.map
build/static/js/main.b162ac70.js.LICENSE.txt
build/static/js/main.b162ac70.js
build/static/js/787.2e757c2b.chunk.js.map
build/static/js/787.2e757c2b.chunk.js
build/static/css/main.fa7be801.css.map
build/static/css/main.fa7be801.css
build/robots.txt
build/manifest.json
build/index.html
build/asset-manifest.json
